<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.spider.douban.mapper.MoveMapper">
  <resultMap id="BaseResultMap" type="com.yao.spider.douban.entity.move.Move">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="othername" jdbcType="VARCHAR" property="othername" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="screenwriter" jdbcType="VARCHAR" property="screenwriter" />
    <result column="mainaactors" jdbcType="VARCHAR" property="mainaactors" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="showdate" jdbcType="VARCHAR" property="showdate" />
    <result column="runtime" jdbcType="VARCHAR" property="runtime" />
    <result column="imdb" jdbcType="VARCHAR" property="imdb" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="votecount" jdbcType="DOUBLE" property="votecount" />
    <result column="evaluationtotal" jdbcType="DOUBLE" property="evaluationtotal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, url, othername, director, screenwriter, mainaactors, type, region, language, 
    showdate, runtime, imdb, score, votecount, evaluationtotal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from move
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from move
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yao.spider.douban.entity.move.Move">
    insert into move (id, name, url, 
      othername, director, screenwriter, 
      mainaactors, type, region, 
      language, showdate, runtime, 
      imdb, score, votecount, 
      evaluationtotal)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{othername,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, #{screenwriter,jdbcType=VARCHAR}, 
      #{mainaactors,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{showdate,jdbcType=VARCHAR}, #{runtime,jdbcType=VARCHAR}, 
      #{imdb,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{votecount,jdbcType=DOUBLE}, 
      #{evaluationtotal,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.yao.spider.douban.entity.move.Move">
    insert into move
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="othername != null">
        othername,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="screenwriter != null">
        screenwriter,
      </if>
      <if test="mainaactors != null">
        mainaactors,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="showdate != null">
        showdate,
      </if>
      <if test="runtime != null">
        runtime,
      </if>
      <if test="imdb != null">
        imdb,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="votecount != null">
        votecount,
      </if>
      <if test="evaluationtotal != null">
        evaluationtotal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="othername != null">
        #{othername,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="screenwriter != null">
        #{screenwriter,jdbcType=VARCHAR},
      </if>
      <if test="mainaactors != null">
        #{mainaactors,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="showdate != null">
        #{showdate,jdbcType=VARCHAR},
      </if>
      <if test="runtime != null">
        #{runtime,jdbcType=VARCHAR},
      </if>
      <if test="imdb != null">
        #{imdb,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="votecount != null">
        #{votecount,jdbcType=DOUBLE},
      </if>
      <if test="evaluationtotal != null">
        #{evaluationtotal,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yao.spider.douban.entity.move.Move">
    update move
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="othername != null">
        othername = #{othername,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="screenwriter != null">
        screenwriter = #{screenwriter,jdbcType=VARCHAR},
      </if>
      <if test="mainaactors != null">
        mainaactors = #{mainaactors,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="showdate != null">
        showdate = #{showdate,jdbcType=VARCHAR},
      </if>
      <if test="runtime != null">
        runtime = #{runtime,jdbcType=VARCHAR},
      </if>
      <if test="imdb != null">
        imdb = #{imdb,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="votecount != null">
        votecount = #{votecount,jdbcType=DOUBLE},
      </if>
      <if test="evaluationtotal != null">
        evaluationtotal = #{evaluationtotal,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yao.spider.douban.entity.move.Move">
    update move
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      othername = #{othername,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      screenwriter = #{screenwriter,jdbcType=VARCHAR},
      mainaactors = #{mainaactors,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      showdate = #{showdate,jdbcType=VARCHAR},
      runtime = #{runtime,jdbcType=VARCHAR},
      imdb = #{imdb,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      votecount = #{votecount,jdbcType=DOUBLE},
      evaluationtotal = #{evaluationtotal,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>